PORT=3000
ADMIN_KEY=rin-admin
TURSO_DATABASE_URL=libsql://xd-edward-oficial.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODcwMjgxNzUsImlkIjoiMDFhMDEzMmMtOWQwMS03NDk1LTk4ODEtZjdiZGRkZjY2NDMyIiwia2lkIjoiTmZrcUg0a2FFRFlTNmxIMDhsc01Uc2VUQWdocDV4eUVBVEdIdHhKWVViMCIsInJpZCI6IjE3YmUxYmIzLTJiZGMtNDhiYi1iZDUwLWUzNTUzNjJlOTU5NSJ9.uQ6chO970wmshIG2EsCl8OWbDSQpwUymkz946gwNBrZWU-CLjaVMS-s25zmfOV7p-exsh37fJS6TnMmVkwYaDw
